* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    background-color: aqua;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
    gap: 1rem;
}

.container>* {
    border: red solid 2px;
}

.header,
.footer,
.main,
.aside,
.nav {
    padding: 1rem;
}